body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

#gjs {
    border: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
}

.gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
}

.gjs-four-color {
    fill: #800080;

}

.traits-container {
    min-height: 200px;
    position: relative;
}

.layers-container {
    flex-grow: 1;
    position: relative;
}

* { box-sizing: border-box; }
html, body {margin: 0;     height: 100%;
}
.panel__top {
    padding: 0;
    width: 100%;
    flex-grow: 0;

    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
    background-color: #333;
}

.panel__basic-actions {
    position: initial;
    background-color: transparent;
}

.editor-row {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

.editor-canvas {
    flex-grow: 1;
}

.panel__right {
    flex-basis: 230px;
    position: relative;
}

.panel__switcher {
    position: initial;
    background-color: transparent;
}

.panel__devices {
    position: initial;
    background-color: transparent;
}

.panel__left {
    display: flex;
    flex-direction: column;
    height: 100%;

    flex-basis: 230px;
    position: relative;
    background-color: var(--gjs-primary-color);

}